@model BreakdownYearViewModel

<h3 class="govuk-heading-m govuk-!-margin-top-8">Top industries in this job group</h3>

@if (Model?.Breakdown != null && Model.Breakdown.Any())
{
    <p class="govuk-body">Find out which sectors or industries are the biggest employers of the job you are interested in. This can help you look for vacancies in the right places.</p>

    <partial name="_BreakdownTable" model="Model.Breakdown" view-data='@new ViewDataDictionary(ViewData) { { "ColumnHeading", "Industries" } }' />
}
else
{
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Industry employment information is unavailable for this job group.
        </strong>
    </div>
}