<div class="govuk-inset-text">
    <p><span class="govuk-!-font-weight-bold">Source:</span> LMI for all. Read more about our <a href="/help/information-sources" class="govuk-link">information sources</a>.</p>
    <p>This information is based on past employment trends. It may not reflect up-to-date information about the job market, particularly the impact of Covid-19. This information can help you make a career decision but should not be your only reason for making a career choice.</p>
    <p> You can <a href="/contact-us" class="govuk-link">speak to a careers adviser</a> for more information.</p>
</div>